# Dataset and unimportant things
REF_GRA/DATA/
REF_GRA/GRAPHS/

# Files in workdirectory
REF_GRA/*.edgelist
REF_GRA/*.graphml
REF_GRA/RESULTS/
REF_GRA/OLD/*.graphml
REF_GRA/OLD/*.html
# REF_GRA/PLOTS

*.csv*

TEMP
exported_graphs

*.pyc

codebase.txt